.update-form-root-container {
    margin-top: 7rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-form-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.update-form-container {
    width: 60rem;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.update-form-header {
    font-size: 72px;
    margin-bottom: 1rem;
}

.update-form {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
    text-align: start;
    grid-gap: 1rem;
}

.update-form-left{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.update-form-right {
    width: 93%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.basic-info-header {
    position: absolute;
    font-size: 24px;
    margin-left: 190px;
}

.update-first-name-label{
    position: absolute;
    margin-top: 2rem;
    font-size: 18px;
}

.update-first-name-input {
    border: 1px solid gray;
    border-radius: 8px;
    width: 98%;
    margin-top: 3.5rem;
    height: 2rem;
    font-size: 16px;
    padding-left: 10px;
}

.update-last-name-label{
    position: absolute;
    font-size: 18px;
    margin-top: 0.5rem;
}
.update-last-name-input {
    border: 1px solid gray;
    border-radius: 8px;
    width: 98%;
    margin-top: 2rem;
    height: 2rem;
    font-size: 16px;
    padding-left: 10px;
}

.update-email-label{
    position: absolute;
    font-size: 18px;
    margin-top: 0.5rem;
}

.update-email-input {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 8px;
    width: 98%;
    margin-top: 2rem;
    height: 2rem;
    font-size: 16px;
    padding-left: 10px;
}

.address-header {
    position: absolute;
    font-size: 24px;
    margin-left: 200px;
    margin-top: 1%;
}

.update-street-name-label {
    position: absolute;
    font-size: 18px;
    margin-top: 2rem;
}

.update-address-input {
    border: 1px solid gray;
    border-radius: 8px;
    width: 98%;
    margin-top: 3.5rem;
    height: 2rem;
    font-size: 16px;
    padding-left: 10px;
}

.update-city-label {
    position: absolute;
    font-size: 18px;
    margin-top: 0.5rem;
}

.update-city-input {
    border: 1px solid gray;
    border-radius: 8px;
    width: 98%;
    margin-top: 2rem;
    height: 2rem;
    font-size: 16px;
    padding-left: 10px;
}

.update-state-label {
    position: absolute;
    font-size: 18px;
    margin-top: 0.5rem;
}

.update-state-input {
    border: 1px solid gray;
    border-radius: 8px;
    width: 98%;
    margin-top: 2rem;
    height: 2rem;
    font-size: 16px;
    padding-left: 10px;
}

.update-zip-code-label {
    position: absolute;
    font-size: 18px;
    margin-top: 0.5rem;
}

.update-zip-code-input {
    border: 1px solid gray;
    border-radius: 8px;
    width: 98%;
    margin-top: 2rem;
    height: 2rem;
    font-size: 16px;
    padding-left: 10px;
}

.musical-info-header{
    font-size: 24px;
    margin-left: 38%;
    margin-bottom: 20px;
}

.update-submit-button-container {
    width: fit-content;
}

.update-submit-button {
    position: absolute;
    margin-top: 1rem;
    margin-bottom: 5px;
    margin-left: 30.5rem;
    border-radius: 10px;
    width: 8rem;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    height: fit-content;
}
.update-submit-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cancel-submit-button {
    position: absolute;
    margin-top: 1rem;
    margin-bottom: 5px;
    margin-left: 22rem;
    border-radius: 10px;
    width: 8rem;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    height: fit-content;
}

.cancel-submit-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.disclaimer {
    margin-top: 5rem;
    font-size: 18px;
    color: darkred;
}


.genre-checkbox-container {
    display: flex;
    flex-direction: column;
}

.genre-checkbox-container .genre-label {
    margin-bottom: 10px;
}

.genre-checkbox-container div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.genre-checkbox-container div div {
    margin-right: 15px;
}

.instrument-box {
    width: 100px;
    height: 100px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s;
}

.instrument-box > span {
    font-size: 55px;
}

#update-instrument-label {
    font-size: 20px;
}

.instrument-box:hover {
    background-color: rgb(252,172,232);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.instruments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 20px;
}

.instrument-box.active {
    outline: 2px solid rgb(155,244,236);
}

p.user-errors{
    font-size: 30px;
    color: red;
    position:absolute;
    top: 205px;
    justify-self: center;
}