.user-profile-page-background {
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.user-info-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 2rem;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 6rem;
    margin-bottom: 5px;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.user-pfp-container {
    height: 10rem;
    margin: auto;
    width: fit-content;
    margin-left: 2rem;
}

.user-details-container {
    margin-top: 1rem;
    width: fit-content;
    height: auto;
    margin-right: auto;
    margin-left: 2rem;
}

.user-pfp-img {
    width: 10rem;
    height: auto;
    border-radius: 80px;
}


.user-first-name-container {
    text-align: left;
}
.user-first-name {
    font-size: 68px;
}

.user-email-container {
    text-align: left;
}
.user-email {
    font-size: 20px;
    margin-bottom: 10px;
}

.user-instruments-container {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}

.instruments-title {
    margin-right: 10px;
    font-size: 20px;
    white-space: nowrap;
}

.user-instruments {
    font-size: 20px;
}

.user-genres-container {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}

.genres-title {
    margin-right: 10px;
    font-size: 20px;
    white-space: nowrap;
}

.user-genres {
    font-size: 20px;
}

.user-address-container {
    text-align: left;
}

.user-address {
    font-size: 20px;
}

.tuneup-joined-label {
    position: absolute;
    font-size: 48px;
    margin-top: 2rem;
    margin-left: 6vw;
    text-shadow: 10px 10px 10px rgb(253, 0, 211);
    color: white;
}

.tuneup-hosted-label {
    position: absolute;
    font-size: 48px;
    margin-top: 2rem;
    margin-left: 51vw;
    text-shadow: 10px 10px 10px rgb(253, 0, 211);
    color: white;
}

.other-tuneup-hosted-label {
    position: absolute;
    font-size: 48px;
    margin-top: 2rem;
    margin-left: 15vw;
    text-shadow: 10px 10px 10px rgb(253, 0, 211);
    color: white;
}

.other-tuneup-joined-label {
    position: absolute;
    font-size: 48px;
    margin-top: 2rem;
    margin-left: 50.5vw;
    text-shadow: 10px 10px 10px rgb(253, 0, 211);
    color: white;
}

.user-tuneups-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-left: 4.5vw;
    margin-top: 6rem;
    width: 90%;
    height: 30rem;
    padding: 10px;
}

.joined-tuneups-list-container {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    grid-area: 1/1/1/1;
    overflow-y: auto;
    overflow-x: hidden;
}

.hosted-tuneups-list-container {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    grid-area: 1/2/1/2;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 7px;
}

.user-edit-option{
    display: flex;
    justify-content: end;
    width: auto;
    margin-right: -10.5vw;
}

.edit-button{
    width: 5rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
}

.edit-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.list-item {
    list-style: none;
    width: 44vw;
}