/* General styling */
.tuneUp-container {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tuneUp-container:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

/* Minimized View */
.minimized {
    height: 60px;
    background-color: #f8f8f8; 
}

.minimized .left-minimized h1 {
    font-size: 22px;
    margin: 0;
    color: #333;
}

.minimized .right-minimized {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-minimized .right-top {
    display: flex;
    justify-content: space-between;
}

.right-minimized .right-top-location {
    white-space: nowrap;
}

.right-minimized .right-top-date,
.right-minimized .right-top-location,
.right-minimized .right-top-group-size {
    font-size: 18px;
    color: #555;
}

.right-top-group-size {
    /* border: 1px solid black; */
    margin-top: -5px;
}

.right-minimized .right-bottom {
    font-size: 16px;
    color: #333;
}

.right-bottom > span {
    font-size: 18px;
    margin-right: 5px;
}

.clickable-text {
    margin-left: 3px;
}

.tuneUp-distance {
    display: inline-flex;
    color: #8464ec;
    cursor: crosshair;
}

/* Maximized View */
.maximized {
    height: auto;
    background-color: #fff; 
}

.maximized .tuneUp-name h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.maximized .tuneUp-details,
.maximized .tuneUp-connections {
    margin-bottom: 10px;
    color: #555;
}

.maximized .tuneUp-connections ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.maximized .tuneUp-connections li {
    margin: 2px 0px;
    font-size: 16px;
    padding: 2px 5px;
}

.maximized .tuneUp-footer {
    font-size: 16px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 4px;
    color: #777;
}

.request-join-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.request-join-button:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}

.requested-button:disabled {
    border: none;
    background-color: #c0c0c0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: not-allowed;
    border-radius: 8px;
}

.leave-tuneup-button {
    background-color: #af4c4c;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.tuneup-instrument-icons > span {
    font-size: 18px;
    margin-right: 5px;
}

.tuneUp-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.tuneUp-left-column {
    flex: 0.8;
    padding: 0 10px;
}

.tuneUp-middle-column,
.tuneUp-right-column {
    flex: 1.2;
    padding: 0 10px;
}

#tuneUp-description {
    width: 15vw;
    height: 10rem;
    overflow-y: auto;
    overflow-wrap: break-word;
    font-size: 14px;
    word-wrap: break-word;
    color: #555;
}

#tuneUp-address,
#tuneUp-non-member {
    margin-top: 5px;
    font-size: 15px;
    color: #555;
}