.searchbar-container {
    margin-top: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 45vw
}


#search-input {
    width: 500px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#search-input:focus {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}


.search-container {
    position: relative;
    width: 500px;
}


#search-button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.error-message {
    margin-top: 20px;
    font-size: 20px;
}
