.about-dev-page-container{
    display: grid;
    grid-template-rows: 5% 95%;
    margin-top: 4rem;
}
.about-us-container{
    display: flex;
    justify-content: center;
    grid-area: 1/1/1/1;
    height: fit-content;
}
.about-us{
    height: fit-content;
    width: fit-content;
    font-size: 62px;
    z-index: 1;
    margin-top: 2rem;
    text-shadow: 10px 10px 7px white
}
.about-dev-page-grid-container{
    display: grid;
    grid-area: 2/1/2/1;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    position: fixed;
    margin-top: 7rem;
    width: 98.7%;
    height: 75%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

/************************ Dan ***************************/

.dan-container {
    display: grid;
    grid-template-rows: 20% 10% 4% 1% 60% 5%; 
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-radius: 15px;
    background-color: white;
    height: 45rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dan-headshot-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dan-headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.dan-name-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dan-name {
    font-size: 32px;
}
.dan-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dan-title {
    font-size: 20px;
}
.dan-divider {
    margin-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.dan-description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
}
.dan-description {
    text-align: center;
    font-size: 24px;
    width: 18rem;
    height: fit-content;
    margin-top: 2rem;
}
.dan-links-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.dan-linkedin-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dan-linkedin-icon{
    width: 2.5rem;
    transition: transform 0.2s ease-in-out;
}
.dan-linkedin-icon:hover {
    transform: scale(1.2);
}
.dan-github-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dan-github-icon{
    width: 2.25rem;
    transition: transform 0.2s ease-in-out;
}
.dan-github-icon:hover {
    transform: scale(1.2);
}


/************************ Klodian ***************************/

.klodian-container {
    display: grid;
    grid-template-rows: 20% 10% 4% 1% 60% 5%; 
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-radius: 15px;
    background-color: white;
    height: 45rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.klodian-headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.klodian-headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.klodian-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.klodian-name {
    font-size: 32px;
}
.klodian-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.klodian-title {
    font-size: 20px;
}
.klodian-divider {
    margin-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.klodian-description-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.klodian-description {
    text-align: center;
    font-size: 24px;
    width: 18rem;
    height: fit-content;
}
.klodian-links-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.klodian-linkedin-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.klodian-linkedin-icon {
    width: 2.5rem;
    transition: transform 0.2s ease-in-out;
}
.klodian-linkedin-icon:hover {
    transform: scale(1.2);
}
.klodian-github-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.klodian-github-icon {
    width: 2.25rem;
    transition: transform 0.2s ease-in-out;
}
.klodian-github-icon:hover {
    transform: scale(1.2);
}

/************************ Sean ***************************/

.sean-container {
    display: grid;
    grid-template-rows: 20% 10% 4% 1% 60% 5%; 
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-radius: 15px;
    background-color: white;
    height: 45rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sean-headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sean-headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 90px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.sean-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sean-name {
    font-size: 32px;
}
.sean-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sean-title {
    font-size: 20px;
}

.sean-divider {
    margin-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.sean-description-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sean-description {
    text-align: center;
    font-size: 24px;
    width: 18rem;
    height: fit-content;
    margin-top: -2rem;
}
.sean-links-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.sean-linkedin-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sean-linkedin-icon{
    width: 2.5rem;
    transition: transform 0.2s ease-in-out;
}
.sean-linkedin-icon:hover {
    transform: scale(1.2);
}
.sean-github-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sean-github-icon{
    width: 2.25rem;
    transition: transform 0.2s ease-in-out;
}
.sean-github-icon:hover {
    transform: scale(1.2);
}

/************************ Muddy ***************************/

.muddy-container {
    display: grid;
    grid-template-rows: 20% 10% 4% 1% 60% 5%; 
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-radius: 15px;
    background-color: white;
    height: 45rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.muddy-headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.muddy-headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.muddy-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.muddy-name {
    font-size: 32px;
}
.muddy-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.muddy-title {
    font-size: 20px;
}
.muddy-divider {
    margin-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.muddy-description-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.muddy-description {
    text-align: center;
    font-size: 24px;
    width: 18rem;
    height: fit-content;
    margin-top: -2rem;
}
.muddy-links-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.muddy-linkedin-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.muddy-linkedin-icon{
    width: 2.5rem;
    transition: transform 0.2s ease-in-out;
}
.muddy-linkedin-icon:hover {
    transform: scale(1.2);
}
.muddy-github-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.muddy-github-icon{
    width: 2.25rem;
    transition: transform 0.2s ease-in-out;
}
.muddy-github-icon:hover {
    transform: scale(1.2);
}

/************************ Dennis ***************************/

.dennis-container {
    display: grid;
    grid-template-rows: 20% 10% 4% 1% 60% 5%; 
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-radius: 15px;
    background-color: white;
    height: 45rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dennis-headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dennis-headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.dennis-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dennis-name {
    font-size: 32px;
}
.dennis-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dennis-title {
    font-size: 20px;
}
.dennis-divider {
    margin-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.dennis-description-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dennis-description {
    text-align: center;
    font-size: 24px;
    width: 18rem;
    height: fit-content;
    margin-top: -2rem;
}
.dennis-links-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.dennis-linkedin-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dennis-linkedin-icon{
    width: 2.5rem;
    transition: transform 0.2s ease-in-out;
}
.dennis-linkedin-icon:hover {
    transform: scale(1.2);
}
.dennis-github-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dennis-github-icon{
    width: 2.25rem;
    transition: transform 0.2s ease-in-out;
}
.dennis-github-icon:hover {
    transform: scale(1.2);
}

.about-page-background{
    position: fixed;
    z-index: -1;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

