@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Bebas Neue', sans-serif;
    vertical-align: baseline;
}

.main-container {
    text-align: center;
    padding-top: 20%;
}

.home-page-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

.greeting-container {
    text-align: center;
    padding: 20px;
    font-size: 86px;
    color: white;
    box-sizing: border-box;
    margin-top: -10rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 5px;
}

.scrolling-text-homepage {
    white-space: nowrap;
    animation: slideText 12s linear infinite;
    font-size: 18px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px;
}

@keyframes slideText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slogan-container {
    position: relative;
    height: 40px;
    width: 100%;
    font-size: 50px;
    color: rgb(216, 30, 91);
    text-align: center;
}

.slogan {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    animation: fadeInOut 9s infinite;
}

.slogan:nth-child(1) {
    animation-delay: 0s;
}

.slogan:nth-child(2) {
    animation-delay: 3s;
}

.slogan:nth-child(3) {
    animation-delay: 6s;
}


@keyframes fadeInOut {

    0%,
    33%,
    100% {
        opacity: 0;
        visibility: hidden;
    }

    10%,
    30% {
        opacity: 1;
        visibility: visible;
    }
}



