
.links-auth, .links-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100vw;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    top: 0;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.tuneup-logo-1-container {
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    margin-left: 47%;
}
.tuneup-logo1 {
    width: 7rem;
    transition: transform 0.2s ease-in-out;
}
.tuneup-logo-2-container {
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    margin-left: 47%;
}
.tuneup-logo2 {
    width: 7rem;
    transition: transform 0.2s ease-in-out;
}
.tuneup-logo1:hover,.tuneup-logo2:hover {
    transform: scale(1.1);
}

.nav-login-button-container {
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    margin-left: 5%;
    width: 8rem;
    height: 2rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
}

.nav-login-button-container:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nav-login-button {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
}

.nav-signup-button-container {
    right: 2%;
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
}

.nav-signup-button-container:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nav-signup-button{
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
}

.signout-button-container {
    width: fit-content;
    height: fit-content;
}

.signout-button {
    position: absolute;
    border-radius: 10px;
    width: 8rem;
    margin-left: 10px;
    margin-top: -2.5rem;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    height: fit-content;
}

.signout-button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.discover-button {
    border-radius: 10px;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right:5px;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    height: fit-content;
}
.discover-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nav-user-name {
    font-size: 26px;
    margin-left: 3rem;
    height: fit-content;
    width: fit-content;
}

.create-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 20px;
    width: 3rem;
    height: 3rem;
    padding-top: 5px;
    font-size: 48px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    text-decoration: none;
}

.create-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.right-nav-button-container, 
.right-nav-button-container2{
    width: 18rem;
    height: fit-content;
    display: flex;
    align-items: center;
}

.about-dev-button-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 4rem;
}

.about-dev-button1{
    width: 8rem;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}

.about-dev-button1:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.about-dev-button-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1.5%;
    width: 13rem;
    height: 4rem;
}

.about-dev-button2 {
    width: 8rem;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}

.about-dev-button2:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}