
.links-auth, .links-nav{
    position: fixed;
    height: 4rem;
    width: 100vw;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    top: 0;
}

.tuneup-logo1 {
    position: fixed;
    width: 7rem;
    margin-left: 47vw;
    margin-top: 0rem;
}
.tuneup-logo2 {
    position: fixed;
    width: 7rem;
    margin-left: 47vw;
}

.nav-login-button-container {
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    width: 8rem;
    height: 2rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
}

.nav-login-button-container:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nav-login-button {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
}

.nav-signup-button-container {
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
    margin-right: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
}

.nav-signup-button-container:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nav-signup-button{
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
}

.nav-bar-buttons-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
}

.signout-button-container {
    width: fit-content;
    height: fit-content;
}

.signout-button {
    position: absolute;
    border-radius: 10px;
    width: 8rem;
    margin-left: 10px;
    margin-top: -2.5rem;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    height: fit-content;
}

.signout-button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.discover-button {
    border-radius: 10px;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right:5px;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    height: fit-content;
}
.discover-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nav-user-name {
    font-size: 26px;
    margin-top: 1rem;
    height: fit-content;
    width: fit-content;
    margin-left: 100px;

}

.create-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    padding-top: 5px;
    font-size: 48px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    text-decoration: none;
}

.create-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.right-nav-button-container{
    display: grid;
    grid-template-columns: 80% 20%;
    width: 18rem;
    height: fit-content;
    margin-left: 65vw;
    margin-top: -2.5rem;

}

.about-dev-button-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 20rem;
    margin-top: -3rem;
    width: 13rem;
    height: 4rem;
}

.about-dev-button1{
    width: 8rem;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}

.about-dev-button1:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.about-dev-button-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 20rem;
    margin-top: -0.5rem;
    width: 13rem;
    height: 4rem;
}

.about-dev-button2 {
    width: 8rem;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}

.about-dev-button2:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}