.background-img{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.tuneup-create-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    height: 56.2rem;
}

.tuneup-create-form {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 20px;
    width: 60rem;
    height: 40rem;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
}

.tuneup-create-header{
    position: fixed;
    margin-top: -48rem;
    font-size: 64px;
}

.tuneup-details-container{
    display: flex;
    grid-area: 1/1/1/1;
    height: 9rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.details-header{
    font-size: 36px;
}
.details-input {
    position: absolute;
    width: 57.5rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 4rem;
    font-size: 16px;
    margin-top: 3.5rem;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
}

.date-dropdowns{
    display: flex;
    align-items: center;
    grid-area: 2/1/2/1;
    height: fit-content;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: .5rem;
}
.month-select{
    height: 2rem;
    width: 4rem;
    margin-left: 2rem;
}
.day-select {
    height: 2rem;
    width: 4rem;
    margin-left: 2rem;
}
.year-select {
    height: 2rem;
    width: 4rem;
    margin-left: 2rem;
}

.tuneup-address-container{
    display: flex;
    padding: 10px;
    grid-area: 3/1/3/1;
    margin-top: -5.5rem;
    height: 9rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.tuneup-address-header{
    font-size: 36px;
}
.tuneup-address-input-container{
    position: absolute;
    display: flex;
    width: 45rem;
    margin-top: 4rem;
    font-size: 24px;
}

.tuneup-instruments-container {
    display: flex;
    padding: 10px;
    grid-area: 4/1/4/1;
    margin-top: -5rem;
    height: 6rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.tuneup-instrument-list-container {
    display: flex;
    position: absolute;
    justify-content: space-around;
    margin-top: 4rem;
    font-size: 24px;
    width: 59rem;
}

.tuneup-instrument-header {
    font-size: 36px;
}

.create-tuneup-button-container {
    margin-top: -7.5rem;
    height: fit-content;
}

.create-tuneup-button{
    width: 15rem;
    height: 2.5rem;
    font-size: 24px;
    font-family: inherit;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background-color: white;
}

.create-tuneup-button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 213, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.tuneup-genre-dropdown-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: 50rem;
    margin-top: .5rem;
    width: 8.5rem;
}
.tuneup-genre-label{
    font-size: 20px;
}

.create-tuneup-instrument-box {
    width: 100px;
    height: 100px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s;
}

.create-tuneup-instrument-box > span {
    font-size: 55px;
}

.create-tuneup-instrument-box:hover {
    background-color: rgb(252,172,232);
}

.create-tuneup-instrument-box:active {
    outline: 2px solid rgb(155,244,236);
}

.create-tuneup-instrument-box.active {
    outline: 2px solid rgb(155,244,236);
}