.search-bar {
    margin-top: -1rem;
}

.tuneups-container {
    grid-area: 1/1/1/1;
    width: 50rem;
    margin-top: 0;
    margin-bottom: 3.25rem;
}
.list-items{
    width: 45vw;
}

.discover-map-container {
    grid-template-columns: 1/2/1/2;
    margin-top: 10.6rem;
    top: 8%;
    position: sticky;
    height: fit-content;
    margin-left: -4rem;
}

.map {
    border-radius: 5px;
}

.discover-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    position: relative; /* Adjusted */
    background-image: url('../HomePage/home-page-background.png'); /* Assuming you are using a background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.links-nav{
    z-index: 1;
}

div.search-components {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-start;
    padding-left: 15px;
}

div.sort {
    /* border: 1px solid red; */
    margin-top: 7.1rem;

}

div.sort select {
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    height: 35px;
}

div.sort option{
    padding: 0px;
    margin: 0px;
}