.search-bar {
    margin-top: -1rem;
}

.tuneups-container {
    width: 50rem;
    margin-top: 0;
    margin-bottom: 3.25rem;
}

.discover-map-container {
    margin-top: 5.65rem;
    top: 5rem;
    position: sticky;
    margin-right: 12px;
    height: 600px;
}

.map {
    border-radius: 5px;
}

.discover-container {
    display: flex;
    position: relative; /* Adjusted */
    background-image: url('../HomePage/home-page-background.png'); /* Assuming you are using a background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.links-nav{
    z-index: 1;
}